body {
    background-color: #DBD071;

}

.header {
    width: 1340px;
    height: 47px;
    background: #E0A100;
    margin: -9px 180px;
    position: fixed;
    


}

.logo {
    width: 189px;
    height: 186px;
    background: #FFBD12;
    position: fixed;
    margin: -9px;
    
    

}

.name {
    width: 465px;
    height: 217px;
    top: 40px;
    left: 204px;
    position: fixed;
    font-size: 48px;
    color: #6D6A18;
    font-family: 'Times New Roman', Times, serif;

}

.about {
    width: 56px;
    height: 24px;
    top: -5px;
    left: 228px;
    font-size: 20px;
    position: fixed;


}

.auth {
    width: 98px;
    height: 29px;
    top: -5px;
    left: 1057px;
    font-size: 20px;
    position: fixed;

}

.reg {
    width: 152px;
    height: 29px;
    top: -5px;
    left: 1155px;
    font-size: 20px;
    position: fixed;
    display: inline-block;

}



.cards {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
    margin-top: 200px;
    position: fixed; /* Центрирование по вертикали */
}



.avatar {
    width: 219px;
    height: 268px;
    background: #99742C;
    margin: 10px;


}

.name-zone {
    width: 219px;
    height: 51px;
    background: #CEA333;
    position: fixed;
    margin-left: 10px;
    margin-top: -15px;
}


.item-name {
    width: 96px;
    height: 22px;
    top: 485px;
    margin-left: 10px;
    margin-top: -4px;
    font-size: 20px;
    position: fixed;

   

}

.profile {
    width: 98px;
    height: 29px;
    top: -5px;
    left: 959px;
    font-size: 20px;
    position: fixed;
    
}

.logout {
    width: 98px;
    height: 29px;
    top: -5px;
    left: 890px;
    font-size: 20px;
    position: fixed;
    display: inline-block;

}

.random {
    font-weight: bold;
    color: #cb9f30;
    position: fixed;
    margin-top: 192px;
    font-size: 18px;
    -webkit-text-stroke: 1px black;
}

.search-logo {
    width: 98px;
    height: 29px;
    top: -5px;
    left: 821px;
    font-size: 20px;
    position: fixed;
    display: inline-block;

}

.for-e{
    width: 98px;
    height: 29px;
    top: -5px;
    left: 1280px;
    font-size: 20px;
    position: fixed;

}
