<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<link rel="stylesheet" type="text/css" href="/static/auth.css">
<body>
     
<form method="post" class="container">
  <h1 class="text">ВХОД</h1>
  <div class="input-group">
    <input type="email" placeholder="Email" id="email" name="email" class="e-mail">
  </div>
  <div class="input-group">
    <input type="password" placeholder="Пароль" id="pas" name="pas" class="password">
  </div>
  <button class="button">Войти</button>
  <p class="text-logo">AmazingJob</p>
</form>

</body>
</html>
