<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Для работодателя</title>
   
</head>
<link rel="stylesheet" type="text/css" href="/static/for_emp.css">
<body>
<h1 class="name">ГастарбайтерЛюкс</h1> 
<div class="notf">
    <span>Уважаемые работодатели, на этой странице вы можете зарегистрироваться, после чего подбирать и отправлять приглашения соискателям</span>
    <p><a href="/register_employer">Регистрация для работодателя</a></p>
</div>
</body>
</html>
